
body {
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: #ffcb05;
}
.logos {
  height: 120px;
}
.navbar-brand {
    font-size: 1.75em;
}
#nav-head:hover {
    color: #ffcb05;
}
.nav-link {
    font-size: 1.25em;
}
.navbar {
    background-color: #031225;
}
#nav-link {
    color: white;
}
#nav-link:hover {
    color:#ffcb05;
}
.accent-text {
    color: #ffcb05;
}
.accent-bg {
    background-color: #031225;
}
.carousel-caption {
    background-color: #031225aa;
    border-radius: 2em;
}
.carousel-item img{
    border-radius: 2em;
    border: 3px #031225 solid;
}

